.bundle
.env
.ruby-version
config/database.yml
config/initializers/secret_token.rb
db/personal_development
log/*.log
tmp/

/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

