.body {
  background-color:#F5F5FF;
  color:#101010;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a { color: #000; }
a:visited { color: #666; }
.title_link {
  color:#101010;
  font-weight:bold;
  text-decoration:none;
}
.title_link:visited {
  color:#101010;
  font-weight:bold;
  text-decoration:none;
}

.content_holder {
  margin-left:auto;
  margin-right:auto;
  width:920px;
}

.header_holder {
  margin-bottom:40px;
  min-width:900px;
}

.body_holder {
  width:900px;
}

.page_holder {
  float:left;
  width:700px;
}

.sidebar {
  float:right;
  width:160px;
}

.navigation {
}

.header_contact {
  display:none;
}

.nav_link_selected {
  font-weight:bold;
}

.about {
  font-size:8pt;
  margin-bottom:20px;
}

.contact {
  font-size:8pt;
  margin-bottom:20px;
}

.footer {
  clear:both;
}

.displaynone {
  display:none;
}

