[Install]
WantedBy=multi-user.target

[Service]
Environment="GEM_HOME=/home/ubuntu/.gem/ruby/2.7.0"
ExecStart=/usr/bin/bundle exec thin start -p 3000 -e production
Restart=always
WorkingDirectory=/home/ubuntu/website
User=patrick
Group=nogroup
