.body {
  background-color:#F5F5FF;
}

.content_holder {
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  width:920px;
}

.header_holder {
  margin-bottom:40px;
  min-width:900px;
}

.page_holder {
  float:left;
  width:700px;
}

.sidebar {
  float:right;
  width:160px;
}

.nav_link_selected {
  font-weight:bold;
}

.about {
  margin-top:16px;
  font-size:8pt;
  margin-bottom:20px;
}

.contact {
  font-size:8pt;
  margin-bottom:20px;
}

.entry_box {
  margin-top:16px;
  margin-bottom:34px;
}

.entry_date {
  float:right;
}

.entry_title {
  font-size:16px;
  font-weight:bold;
}

.entry_desc {
}

.displaynone {
  display:none;
}
