.body {
  background-color:#FFFFFF;
  color:#000000;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a { color: #000; }

.content_holder {
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
}

.header_holder {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:40px;
}

.page_holder {
  margin-left:auto;
  margin-right:auto;
}

.navigation {
  display:none;
}

.header_contact {
}

.sidebar {
  display:none;
}

.about {
  display:none;
}

.contact {
  display:none;
}

.displaynone {
  display:none;
}
