.holder {
  width:700px;
}
.resume_entry_title {
  margin-left:13px;
}
.resume_entry_name {
  font-weight: bold;
}
.resume_section_heading { 
  margin-top:0px;
	font-size: 10.5pt;
	font-weight: bold;
  text-transform:uppercase;
}
.resume_subsection_heading {
	font-size: 10.5pt;
	font-weight: bold;
  margin-left: 13px;
}
.displaynone {
  display:none;
}
