<div class="about">I'm a software engineer at <%= get_link_to 'YouTube', Links::YouTube %>. I was previously a cofounder at <%= get_link_to 'SigOpt', Links::SigOpt %>, and before that an engineer at <%= get_link_to 'foursquare', 'http://foursquare.com' %>. I graduated from the <%= get_link_to 'University of Waterloo', 'http://www.uwaterloo.ca' %>, where I had rewarding internships at tech companies both large and small.</div>

