<div class="about">I'm a software engineer, formerly at <%= get_link_to 'foursquare', 'http://foursquare.com' %>. I graduated from the <%= get_link_to 'University of Waterloo', 'http://www.uwaterloo.ca' %>, where I had many successful internships at tech companies both large and small.</div>

