<div class="about">I'm currently a student at the <%= link_to 'University of Waterloo', 'http://www.uwaterloo.ca' %>, seeking an engaging full-time software development position. I've had many successful internships in the past at tech companies both large and small.</div>

