<ul class="contact">
  <li><%= get_link_to "Twitter", Links::Twitter, :class => 'nav_link' %></li>
  <li><%= get_link_to "GitHub", Links::Github, :class => 'nav_link' %></li>
  <li><%= get_link_to "LinkedIn", Links::Linkedin, :class => 'nav_link' %></li>
  <li><%= raw obfuscated_email() %></li>
</ul>
