<div class="contact">
  <%= get_link_to "Foursquare", Links::Foursquare, :class => 'nav_link' %><br />
  <%= get_link_to "Twitter", Links::Twitter, :class => 'nav_link' %><br/>
  <%= get_link_to "LinkedIn", Links::Linkedin, :class => 'nav_link' %><br/>
  <%= raw obfuscated_email() %>
</div>
