<h1 class="title">Patrick Hayes</h1>

<div class="navigation">
  <%=# link_to "Home", index_url, :class => get_nav_class('index')
  %>
  <%= link_to "Resume", resume_url, :class => get_nav_class('resume') %>
  <%= link_to "CV", cv_url, :class => get_nav_class('cv') %>
  <%= link_to "Portfolio", portfolio_url, :class => get_nav_class('portfolio') %>
</div>

