 <p class="style3">ACTIVITIES</p>
  <p class="indent"><strong>Federation Orientation Committee Member</strong>, University of Waterloo, Waterloo, ON, 2010</p>
  <ul>
    <li>Worked with a team of three students to plan Math Orientation Week 2010</li>
    <li>Organized and ran events for 1500 students spanning one week in September</li>
    <li>Contributed over 500 hours of volunteer involvement to planning Orientation Week</li>
  </ul>
  <% if full %>
  <p class="indent"><strong>Orientation Week Head Leader</strong>, University of Waterloo, Waterloo, ON, 2008&ndash;2009, 2010&ndash;2011</p>
  <ul>
    <li>Gained extensive leadership experience by leading a group of over 200 first year students</li>
    <li>Directed a group of ten other orientation leaders</li>
    <li>Created and maintained a friendly, co-operative environment</li>
  </ul>
  <p class="indent"><strong>Undergraduate Teaching Assistant</strong>, University of Waterloo, Waterloo, ON, 2009</p>
  <ul>
    <li>Tutored undergraduate students in Calculus</li>
    <li>Marked weekly assignments</li>
  </ul>
  <p class="indent"><strong>Mathematics Society First-Year-At-Large</strong>, University of Waterloo, Waterloo, ON, 2007</p>
  <ul>
    <li>Elected by the first-year Math student body to represent them in student government</li>
  </ul>
  <% end %>
