<div class="contact">I can be reached through <%= link_to "LinkedIn", 'http://ca.linkedin.com/pub/patrick-hayes/29/701/770', :class => 'nav_link' %>, or by email at <%= raw obfuscate_email('pfhayes@gmail.com') %>.</div>
