<p class="style3">EDUCATION</p>
<p class="indent"><strong>Candidate for Bachelor of Mathematics</strong>, Computer Science/Pure Mathematics Double Honours, Co-op Program, University of Waterloo, Waterloo, ON, 2007&ndash;present</p>
<p class="indent style3">Awards</p>
<ul>
  <li>Cumulative average: 90%; Major average: 94%</li>
  <li><em>Dean&#39;s Honours List</em>, University of Waterloo, 2007&ndash;2011</li>
  <li><em>St. Jerome&#39;s University President&#39;s Scholarship</em>, University of Waterloo, 2007&ndash;2009</li>
  <li><em>Excellent Academic Standing</em>, University of Waterloo, 2007&ndash;2011</li>
</ul>
<p class="indent style3">Relevant Coursework</p>
<ul>
  <li>Machine Learning; Artificial Intelligence; Algorithm Design and Analysis; Database Systems Implementation; Principles of Programming Languages;
    Operating Systems<% if (full) %>; Theory of Computation<% end %>
  </li>
  <li>Readings in Pure Mathematics; Algebraic Number Theory; Measure Theory and Fourier Analysis; Real Analysis; Complex Analysis; Ring/Group Theory; Elementary Differential Geometry</li>
  <li>Communications in Math and Computer Science, Macroeconomics</li>
</ul>
