<p class="style3">OPEN SOURCE CONTRIBUTIONS</p>
<p class="indent"><strong>Wikipedia/Wiktionary Mobile App</strong>, Wikimedia Foundation, Jan&ndash;Apr 2012</p>
  <ul>
    <li>Used PhoneGap to develop a Wiktionary mobile application for Android/iOS</li>
    <li>Contributed bugfixes and improvements to Wikipedia mobile application</li>
    <li>Worked on a remote team with 3 undergraduate students from Canadian schools</li>
  </ul>
