<div class="resume_section">
<p class="resume_section_heading">Open Source Contributions</p>
  <%= render 'home/entry',
    :name => 'Wikipedia/Wiktionary Mobile App',
    :organization => 'Wikimedia Foundation',
    :start_date => 'January',
    :end_date => 'April 2012',
    :show_bullets => true,
    :bullets => [
      'Developed the Wiktionary mobile application for Android/iOS using PhoneGap',
      'Contributed bugfixes and improvements to Wikipedia mobile application',
      'Worked on a remote team with 3 undergraduate students from schools across Canada',
    ]
  %>
</div>
