<p class="style3">WORK EXPERIENCE</p>
<p class="indent"><strong>Financial Software Developer</strong>, Bloomberg LP, New York, NY, May&ndash;August 2011</p>
<ul>
  <li>Developed an application for monitoring volatility of financial securities</li>
  <li>Implemented an efficient, scalable caching system for handling large datasets using C++</li>
  <li>Designed an intuitive user interface for trend analysis using Javascript</li>
  </ul>
<p class="indent"><strong>Research Engineer</strong>, ContextLogic, San Francisco, CA, September&ndash;December 2010</p>
<ul>
  <li>Developed a topical analysis application using sophisticated machine learning methods</li>
  <li>Produced highly optimized C++ to improve performance in existing technologies by up to 20x</li>
  <li>Designed a distributed indexer using Python and C that performed scalable data mining</li>
  </ul>
<p class="indent"><strong>Software Engineer</strong>, Facebook, Palo Alto, CA, January&ndash;April 2010</p>
<ul>
  <li>Developed a complete, scalable, distributed search application using PHP, Java and SQL</li>
  <li>Leveraged open source technologies to build a robust, efficient, and extensible search framework</li>
  <li>Used Javascript and Ajax to develop an engaging user experience</li>
</ul>
<p class="indent"><strong>User Interface Developer</strong>, Sybase iAnywhere, Waterloo, ON, May&ndash;August 2009</p>
<% if (full) %>
<ul>
  <li>Developed user interface functionality for commercial database software using Flex/Actionscript</li>
  <li>Analyzed and implemented performance-critical web server code in Java and SQL</li>
  <li>Designed a mobile version of an existing web application using Java, PHP, and SQL</li>
  </ul>
  <% end %>
<p class="indent"><strong>Automation Tools Developer</strong>, Research In Motion, Waterloo, ON, September&ndash;December 2008</p>
<% if (full) %>
<ul>
  <li>Created and improved test suites for BlackBerry OS and Android using Java, C, and Python</li>
  <li>Developed a server for hosting and displaying test results using Django</li>
  <li>Completed many high priority assignments to ship products under tight deadlines</li>
  </ul>
  <% end %>
<p class="indent"><strong>Software Test Associate</strong>, Research In Motion, Waterloo, ON, January&ndash;April 2008</p>
<% if (full) %>
<ul>
  <li>Implemented new test procedures and expanded on existing testing frameworks</li>
  <li>Developed test scripts in Python for testing hardware functionality of devices</li>
  <li>Created and maintained department's corporate website using Wiki software</li>
  </ul>
  <% end %>
