<p class="about">I'm currently a student at the University of Waterloo, seeking an engaging full-time position in Computer Science or Pure Mathematics fields. I've had many successful internships in the past at tech companies both large and small.</p>

