<h1 class="title">Patrick Hayes</h1>

<div class="navigation">
  <a href="home" class="nav_link">Home</a>
  <a href="resume" class="nav_link">Resume</a>
  <a href="cv" class="nav_link">CV</a>
  <a href="http://ca.linkedin.com/pub/patrick-hayes/29/701/770" class="nav_link">LinkedIn</a>
  <a href="portfolio" class="nav_link_selected">Portfolio</a>
  <a href="contact" class="nav_link">Contact</a>
</div>

<div class="content">
  Github!
  PubVision!
  Millikan?
</div>

