<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Patrick Hayes</title>
<style type="text/css">
<!--
.holder {
  margin-left:auto;
  margin-right:auto;
  width:700px;
}
.indent {
  margin-left:13px;
}
.style1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11pt;
	text-align: left;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16pt;
	font-weight: bold;
}
.style3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
}
.displaynone {
  display:none;
}
-->
</style>
</head>

<body>
<div class="holder">
    <div align="center" class="style1">
      <p align="center">
        <span class="style2">Patrick Hayes</span><br />
        <%= raw obfuscate_email('pfhayes@gmail.com') %><br />
        <a href="http://patrickhay.es">http://patrickhay.es</a><br />
      </p>
    </div>
    <div align="left" class="style1">
      <p class="style3">SKILLS SUMMARY</p>
      <ul>
        <li>Over two year's experience with commercial web development and systems programming</li>
        <li>Extremely high rate of productivity, and frequently completes projects ahead of schedule</li>
        <li>Strong interpersonal and communication skills, as developed through extensive leadership roles</li>
        <li><strong>Programming</strong>: Python, C, C++, Java, PHP, Ruby, Javascript, Lisp, Haskell, OCaml, Prolog</li>
        <li><strong>Technologies</strong>: Android, BlackBerry OS, Rails, LAMP, Ajax, MySQL, CSS, XHTML, Django, Flex</li>
        <li><strong>Fields</strong>: Machine Learning, Data Mining, Search, Distributed Systems, UI Design, Algorithm Design</li>
      </ul>
    <p class="style3">WORK EXPERIENCE</p>
    <p class="indent"><strong>Software Engineer</strong>, Bloomberg LP, New York, NY, May&ndash;August 2011</p>
    <ul>
      <%= # <li>Developed an application for monitoring implied volatility of stock indexes</li>
      %>
      <li>Implemented an efficient, scalable caching system for extremely large datasets using C++</li>
      <li>Designed an intuitive user interface for trend analysis using Javascript</li>
      </ul>
    <p class="indent"><strong>Research Engineer</strong>, ContextLogic, San Francisco, CA, September&ndash;December 2010</p>
    <ul>
      <li>Developed a topical analysis application using sophisticated machine learning methods</li>
      <li>Produced highly optimized C++ to improve performance in existing technologies by up to 20x</li>
      <li>Designed a distributed indexer using Python and C that performed scalable data mining</li>
      </ul>
    <p class="indent"><strong>Software Engineer</strong>, Facebook, Palo Alto, CA, January&ndash;April 2010</p>
    <ul>
      <li>Developed a complete, scalable, distributed search application using PHP, Java and SQL</li>
      <li>Leveraged open source technologies to build a robust, efficient, and extensible search framework</li>
      <li>Used Javascript and Ajax to develop an engaging user experience</li>
    </ul>
    <p class="indent"><strong>User Interface Developer</strong>, Sybase iAnywhere, Waterloo, ON, May&ndash;August 2009<br />
    <strong>Automation Tools Developer</strong>, Research In Motion, Waterloo, ON, September&ndash;December 2008<br />
    <strong>Software Test Associate</strong>, Research In Motion, Waterloo, ON, January&ndash;April 2008</p>
      <p class="style3">EDUCATION</p>
      <p class="indent"><strong>Candidate for Bachelor of Mathematics</strong>, Computer Science/Pure Mathematics Double Honours, Co-op Program, University of Waterloo, Waterloo, ON, 2007&ndash;present</p>
      <p class="indent style3">Awards</p>
      <ul>
        <li>Cumulative average: 90%; Major average: 93%</li>
        <li><em>Dean&#39;s Honours List</em>, University of Waterloo, 2007&ndash;2011</li>
        <li><em>St. Jerome&#39;s University President&#39;s Scholarship</em>, University of Waterloo, 2007&ndash;2009</li>
        <li><em>Excellent Academic Standing</em>, University of Waterloo, 2007&ndash;2011</li>
      </ul>
      <p class="indent style3">Relevant Coursework</p>
      <ul>
        <li>Machine Learning; Artificial Intelligence; Algorithm Design and Analysis; Principles of Programming Languages; Operating Systems; Theory of Computation</li>
        <li>Algebraic Number Theory; Functional Analysis; Measure Theory and Fourier Analysis; Real Analysis; Complex Analysis; Polynomials, Rings, and Finite Fields; Elementary Differential Geometry</li>
        <li>Communications in Math and Computer Science</li>
      </ul>
   <p class="style3">ACTIVITIES</p>
    <p class="indent"><strong>Federation Orientation Committee Member</strong>, University of Waterloo, Waterloo, ON, 2010</p>
    <ul>
      <li>Worked with a team of three students to plan Math Orientation Week 2010</li>
      <li>Organized and ran events for 1500 students spanning one week in September</li>
      <li>Contributed over 500 hours of volunteer involvement to planning Orientation Week</li>
    </ul>
  </div>
  <br />
  <p class="indent style3">For the expanded version of this resume, please visit <%= link_to cv_url, cv_url %></p>
</div>
</body></html>
