<% content_for :stylesheet do %>resume<% end %>

<div class="holder">
    <div align="left" class="style1">
      <p class="style3">SKILLS SUMMARY</p>
      <ul>
        <li>Over two years of experience with commercial web development and systems programming</li>
        <li>Extremely high rate of productivity, and frequently completes projects ahead of schedule</li>
        <li>Strong interpersonal and communication skills, as developed through extensive leadership roles</li>
        <li><strong>Programming</strong>: Python, C, C++, Java, PHP, Ruby, Javascript, Lisp, Haskell, OCaml, Prolog</li>
        <li><strong>Technologies</strong>: Rails, LAMP, Ajax, MySQL, CSS, HTML5, Android, BlackBerry OS, Django, Flex</li>
        <li><strong>Fields</strong>: Machine Learning, Data Mining, Search, Distributed Systems, UI Design, Algorithm Design</li>
      </ul>
    <p class="style3">WORK EXPERIENCE</p>
    <p class="indent"><strong>Financial Software Developer</strong>, Bloomberg LP, New York, NY, May&ndash;August 2011</p>
    <ul>
      <li>Developed an application for monitoring volatility of financial securities</li>
      <li>Implemented an efficient, scalable caching system for extremely large datasets using C++</li>
      <li>Designed an intuitive user interface for trend analysis using Javascript</li>
      </ul>
    <p class="indent"><strong>Research Engineer</strong>, ContextLogic, San Francisco, CA, September&ndash;December 2010</p>
    <ul>
      <li>Developed a topical analysis application using sophisticated machine learning methods</li>
      <li>Produced highly optimized C++ to improve performance in existing technologies by up to 20x</li>
      <li>Designed a distributed indexer using Python and C that performed scalable data mining</li>
      </ul>
    <p class="indent"><strong>Software Engineer</strong>, Facebook, Palo Alto, CA, January&ndash;April 2010</p>
    <ul>
      <li>Developed a complete, scalable, distributed search application using PHP, Java and SQL</li>
      <li>Leveraged open source technologies to build a robust, efficient, and extensible search framework</li>
      <li>Used Javascript and Ajax to develop an engaging user experience</li>
    </ul>
    <p class="indent"><strong>User Interface Developer</strong>, Sybase iAnywhere, Waterloo, ON, May&ndash;August 2009<br />
    <strong>Automation Tools Developer</strong>, Research In Motion, Waterloo, ON, September&ndash;December 2008<br />
    <strong>Software Test Associate</strong>, Research In Motion, Waterloo, ON, January&ndash;April 2008</p>
    <p class="style3">OPEN SOURCE CONTRIBUTIONS</p>
    <p class="indent"><strong>Wikipedia/Wiktionary Mobile App</strong>, Wikimedia Foundation, Jan&ndash;Apr 2012</p>
      <ul>
        <li>Used PhoneGap to develop a Wiktionary mobile application for Android/iOS</li>
        <li>Contributed bugfixes and improvements to Wikipedia mobile application</li>
        <li>Worked on a remote team with 3 undergraduate students from Canadian schools</li>
      </ul>
      <p class="style3">EDUCATION</p>
      <p class="indent"><strong>Candidate for Bachelor of Mathematics</strong>, Computer Science/Pure Mathematics Double Honours, Co-op Program, University of Waterloo, Waterloo, ON, 2007&ndash;present</p>
      <p class="indent style3">Awards</p>
      <ul>
        <li>Cumulative average: 90%; Major average: 93%</li>
        <li><em>Dean&#39;s Honours List</em>, University of Waterloo, 2007&ndash;2011</li>
        <li><em>St. Jerome&#39;s University President&#39;s Scholarship</em>, University of Waterloo, 2007&ndash;2009</li>
        <li><em>Excellent Academic Standing</em>, University of Waterloo, 2007&ndash;2011</li>
      </ul>
      <p class="indent style3">Relevant Coursework</p>
      <ul>
        <li>Machine Learning; Artificial Intelligence; Algorithm Design and Analysis; Database Systems Implementation; Principles of Programming Languages; Operating Systems</li>
        <li>Readings in Pure Mathematics; Algebraic Number Theory; Measure Theory and Fourier Analysis; Real Analysis; Complex Analysis; Ring/Group Theory; Elementary Differential Geometry</li>
        <li>Communications in Math and Computer Science</li>
      </ul>
   <p class="style3">ACTIVITIES</p>
    <p class="indent"><strong>Federation Orientation Committee Member</strong>, University of Waterloo, Waterloo, ON, 2010</p>
    <ul>
      <li>Worked with a team of three students to plan Math Orientation Week 2010</li>
      <li>Organized and ran events for 1500 students spanning one week in September</li>
      <li>Contributed over 500 hours of volunteer involvement to planning Orientation Week</li>
    </ul>
  </div>
  <br />
  <div class="resume_footer">
    <p class="indent style3">For the expanded version of this resume, visit <%= link_to cv_url, cv_url %></p>
    <p class="indent style3">To see some of my projects, visit <%= link_to portfolio_url, portfolio_url %></p>
  </div>
</div>
