<div class="resume_section">
 <p class="resume_section_heading">Activities</p>
  <%= render 'resume/entry',
    :name => 'Federation Orientation Committee Member',
    :organization => 'University of Waterloo',
    :location => 'Waterloo, ON',
    :start_date => nil,
    :end_date => '2010',
    :show_bullets => true,
    :bullets => [
      'Worked with a team of three students to plan Math Orientation Week 2010',
      'Organized and ran events for 1500 students spanning one week in September',
      'Contributed over 500 hours of volunteer involvement to planning Orientation Week',
    ]
  %>
  <% if full %>
  <%= render 'resume/entry',
    :name => 'Orientation Week Head Leader',
    :organization => 'University of Waterloo',
    :location => 'Waterloo, ON',
    :start_date => '2008',
    :end_date => '2011',
    :show_bullets => true,
    :bullets => [
      'Gained extensive leadership experience by leading a group of over 200 first year students',
      'Directed a group of ten other orientation leaders',
      'Created and maintained a friendly, co-operative environment',
    ]
  %>
  <%= render 'resume/entry',
    :name => 'Undergraduate Teaching Assistant',
    :organization => 'University of Waterloo',
    :location => 'Waterloo, ON',
    :start_date => 'January',
    :end_date => 'December 2009',
    :show_bullets => true,
    :bullets => [
      'Tutored undergraduate students in Calculus',
      'Marked weekly assignments',
    ]
  %>
  <%= render 'resume/entry',
    :name => 'Mathematics Society First-Year-At-Large',
    :organization => 'University of Waterloo',
    :location => 'Waterloo, ON',
    :start_date => 'September',
    :end_date => 'December 2007',
    :show_bullets => true,
    :bullets => [
      'Elected by the first-year Math student body to represent them in student government',
    ]
  %>
  <% end %>
</div>
