<div class="resume_section">
<p class="resume_section_heading">Awards</p>
  <%= render 'resume/entry',
    :organization => 'University of Waterloo',
    :department => 'Faculty of Mathematics',
    :name => 'Young Alumni Achievement Award',
    :link => 'https://uwaterloo.ca/math/alumni-friends/faculty-mathematics-alumni-awards/gallery-past-recipients/recipients-faculty-mathematics-alumni-achievement-medal',
    :end_date => '2017'
  %>
</div>
