<div class="resume_section">
<p class="resume_section_heading">Awards</p>
  <%= render 'resume/entry',
    :organization => 'University of Waterloo',
    :department => 'Faculty of Mathematics',
    :name => 'Young Alumni Achievement Award',
    :link => 'https://www.youtube.com/watch?v=KjKV6aiwbOk',
    :end_date => 'January 2018'
  %>
</div>
