<div class="resume_section">
<p class="resume_section_heading">Education</p>
  <%= render 'resume/entry',
    :name => 'Bachelor of Mathematics',
    :department => 'Computer Science/Pure Mathematics Double Honours',
    :organization => 'University of Waterloo',
    :end_date => '2012',
    :show_bullets => true,
    :bullets => [
      '<em>Graduated with Distinction</em>; Cumulative average: 90%; Major average: 94%',
      '<em>Dean&#39;s Honours List</em>, University of Waterloo, 2007&ndash;2012',
      '<em>St. Jerome&#39;s University President&#39;s Scholarship</em>, University of Waterloo, 2007&ndash;2009',
      '<em>Excellent Academic Standing</em>, University of Waterloo, 2007&ndash;2012'
    ]
  %>
  <% if full %>
    <%= render 'resume/entry',
      :name => 'Relevant Coursework',
      :show_bullets => true,
      :bullets => [
        'Machine Learning; Artificial Intelligence; Algorithm Design; Database Systems Implementation; Principles of Programming Languages; Operating Systems; Theory of Computation',
        'Readings in Pure Mathematics; Algebraic Number Theory; Measure Theory and Fourier Analysis; Real Analysis; Complex Analysis; Ring/Group Theory; Elementary Differential Geometry',
        'Communications in Math and Computer Science, Macroeconomics'
      ]
    %>
  <% end %>
</div>
