<div class="resume_section">
<p class="resume_section_heading">Selected Open Source Contributions</p>
  <%= render 'resume/entry',
    :name => 'Wiktionary Mobile App',
    :organization => 'Wikimedia Foundation',
    :show_bullets => true,
    :bullets => [
      'Core developer of the official Wiktionary mobile app for Android/iOS',
      'Worked on a remote team with 3 undergraduate students from schools across Canada',
    ]
  %>
</div>
