<div class="resume_section">
<p class="resume_section_heading">Patents</p>
  <%= render 'resume/publication',
    :authors => 'Patrick Hayes, Michael McCourt, Alexandra Johnson, George Ke, Scott Clark',
    :name => 'Systems and methods implementing an intelligent optimization platform',
    :link => 'https://patents.google.com/patent/US10217061B2',
    :organization => 'SigOpt, Inc.',
    :end_date => 'February 2019'
  %>
</div>
