<div class="resume_section">
<p class="resume_section_heading">Patents</p>
  <%= render 'resume/publication',
    :authors => 'Patrick Hayes, Michael McCourt, Alexandra Johnson, George Ke, Scott Clark',
    :name => 'Systems and methods implementing an intelligent optimization platform',
    :link => 'https://patents.google.com/patent/US10217061B2',
    :organization => 'SigOpt, Inc.',
    :end_date => 'February 2019'
  %>
  <%= render 'resume/publication',
    :authors => 'Alexandra Johnson, Patrick Hayes, Scott Clark',
    :name => 'Systems and methods for implementing an intelligent application program interface for an intelligent optimization platform',
    :link => 'https://patents.google.com/patent/US10282237B1',
    :organization => 'SigOpt, Inc.',
    :end_date => 'May 2019'
  %>
  <%= render 'resume/publication',
    :authors => 'Bolong Cheng, Olivia Kim, Michael McCourt, Patrick Hayes, Scott Clark',
    :name => 'Systems and methods for implementing an intelligent machine learning optimization platform for multiple tuning criteria',
    :link => 'https://patents.google.com/patent/US10528891B1/en',
    :organization => 'SigOpt, Inc.',
    :end_date => 'January 2020'
  %>
  <%= render 'resume/publication',
    :authors => 'Michael McCourt, Ben Hsu, Patrick Hayes, Scott Clark',
    :name => 'Systems and methods for an accelerated tuning of hyperparameters of a model using a machine learning-based tuning service',
    :link => 'https://patents.google.com/patent/US20200019888A1/en',
    :organization => 'SigOpt, Inc.',
    :end_date => 'January 2020'
  %>
</div>
