<div class="resume_section">
<p class="resume_section_heading">Publications</p>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Ian Dewancker, Michael McCourt, Scott Clark, Patrick Hayes, Alexandra Johnson, George Ke',
    :name => 'A Strategy for Ranking Optimization Methods using Multiple Criteria',
    :link => 'https://goo.gl/EvzR6Q',
    :organization => 'Presented at ICML 2016',
    :end_date => 'July 2016'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Ian Dewancker, Michael McCourt, Scott Clark, Patrick Hayes, Alexandra Johnson, George Ke',
    :name => 'Evaluation System for a Bayesian Optimization Service',
    :link => 'http://arxiv.org/abs/1605.06170',
    :organization => 'Presented at ICML 2016',
    :end_date => 'May 2016'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Ian Dewancker, Michael McCourt, Scott Clark, Patrick Hayes, Alexandra Johnson, George Ke',
    :name => 'A Stratified Analysis of Bayesian Optimization Methods',
    :link => 'http://arxiv.org/abs/1603.09441',
    :organization => 'SigOpt',
    :end_date => 'March 2016'
  %>
</div>
