<div class="resume_section">
<p class="resume_section_heading">Articles</p>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Michael Mitchell, Patrick Hayes',
    :name => 'Scaling TypeScript to thousands of projects',
    :link => 'https://medium.com/airtable-eng/a-leap-in-the-evolution-of-airtables-codebase-scaling-typescript-to-thousands-of-projects-734326c3a553',
    :organization => 'Airtable Eng Blog',
    :end_date => '2024'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Ian Dewancker, Michael McCourt, Scott Clark, Patrick Hayes, Alexandra Johnson, George Ke',
    :name => 'A Strategy for Ranking Optimization Methods using Multiple Criteria',
    :link => 'http://proceedings.mlr.press/v64/dewancker_strategy_2016.pdf',
    :organization => 'Proceedings of the Workshop on Automatic Machine Learning',
    :end_date => '2016'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Ian Dewancker, Michael McCourt, Scott Clark, Patrick Hayes, Alexandra Johnson, George Ke',
    :name => 'Evaluation System for a Bayesian Optimization Service',
    :link => 'http://arxiv.org/abs/1605.06170',
    :organization => 'ML Systems Workshop at ICML',
    :end_date => '2016'
  %>
  <%= render 'resume/publication',
    :full => full,
    :authors => 'Ian Dewancker, Michael McCourt, Scott Clark, Patrick Hayes, Alexandra Johnson, George Ke',
    :name => 'A Stratified Analysis of Bayesian Optimization Methods',
    :link => 'http://arxiv.org/abs/1603.09441',
    :organization => 'AutoML Workshop at ICML',
    :end_date => '2016'
  %>
</div>
