<div class="resume_section">
  <p class="resume_section_heading">Talks</p>
  <%= render 'resume/entry',
    :name => 'Wiktionary Mobile',
    :organization => 'Wikimania 2012',
    :link => '/talks/wikimania2012.pdf',
    :location => 'Washington DC',
    :start_date => nil,
    :end_date => 'July 2012',
    :show_bullets => false
  %>
</div>
