<div class="resume_section">
  <p class="resume_section_heading">Talks</p>
  <%= render 'resume/entry',
    :name => 'Optimizing Everything with Python',
    :organization => 'Talk Python To Me Podcast',
    :link => 'https://talkpython.fm/episodes/show/51/sigopt-optimizing-everything-with-python',
    :end_date => 'March 2016',
    :show_bullets => false
  %>
  <%= render 'resume/entry',
    :name => 'Wiktionary Mobile',
    :organization => 'Wikimania 2012',
    :link => 'http://www.patrickhay.es/talks/wikimania2012.pdf',
    :location => 'Washington DC',
    :start_date => nil,
    :end_date => 'July 2012',
    :show_bullets => false
  %>
</div>
