<div class="resume_section">
<p class="resume_section_heading">Work Experience</p>
  <%= render 'resume/entry',
    :name => 'Cofounder & CTO',
    :organization => 'SigOpt',
    :location => 'San Francisco, CA',
    :start_date => 'November 2014',
    :end_date => 'present',
    :show_bullets => true,
    :bullets => [
      'Founder, architect, and technical mentor at SigOpt, which was acquired by Intel in Oct 2020',
      "Inventor of SigOpt's patented distributed optimization platform for machine learning models",
      'Full-stack engineer with experience managing up to 10 frontend, backend, and research staff',
    ]
  %>
  <%= render 'resume/entry',
    :name => 'Senior Software Engineer',
    :organization => 'Foursquare',
    :location => 'New York, NY',
    :start_date => 'July 2012',
    :end_date => 'November 2014',
    :show_bullets => true,
    :bullets => [
      'Developed passive awareness notifications to remind users of the best content nearby',
      'Built the tips timeline, for discovering tips from people and tastes you follow',
      'Created Foursquare expertise, for recognizing and rewarding city and neighborhood experts',
    ]
  %>
  <%= render 'resume/entry',
    :name => 'Internships',
    :start_date => '2008',
    :end_date => '2012',
    :show_bullets => true,
    :bullets => [
      'Financial Software Developer, Bloomberg LP, New York, NY, May - Aug 2011',
      'Research Engineer, Wish, San Francisco, CA, Sept - Dec 2011',
      'Software Engineer, Facebook, Palo Alto, CA, Jan - Apr 2010',
      'User Interface Developer, Sybase, Waterloo, ON, May - Aug 2009',
      'Automation Tools Developer, BlackBerry, Waterloo, ON, Jan - Dec 2008',
    ]
  %>
</div>
