<% content_for :stylesheet do %>contact<% end %>

<% content_for :sidebar do %><span/><% end %>

<div class="summary">
  <p>I'm looking forward to hearing from you!</p>
  <p>
    Reach out to me at any of the below destinations, and I'll get back to you soon.
  </p>
</div>

<%= render "shared/contact" %>
