.resume_entry {
}
.resume_link {
  display: none;
}
.resume_entry_title {
  margin-top:0px;
  margin-bottom:5px;
}
.resume_entry_publication_title {
  font-style: italic;
}
.resume_entry_bullets {
  margin-top:0px;
  margin-bottom:16px;
}
.resume_entry_name {
  font-weight: bold;
}
.resume_section {
  margin-bottom:30px;
}
.resume_section_heading { 
  margin-bottom:20px;
  margin-top: 0;
	font-size: 16pt;
	font-weight: bold;
  text-transform:uppercase;
}
.resume_footer {
  margin-top: 40px;
}
.resume_footer_entry {
	font-size: 10.5pt;
	font-weight: bold;
  margin-bottom: 10px;
}
.displaynone {
  display:none;
}

.sidebar .about {
  margin-bottom: 30px;
}
.sidebar .contact {
  display: none;
}

@media (min-width: 900px) {
  .holder {
    width:700px;
  }
  .sidebar .contact {
    display: block;
    padding-left: 0;
    list-style: none;
  }
}
