<div class="entry_box">
  <%=# image_tag folio.image, :class => 'folio_img'
  %>
  <%= link_to folio.name, folio.url, :class => 'entry_title' %>
  <div class="entry_desc"><%= folio.description %>!</div>
</div>
